<form (ngSubmit)="check()" [formGroup]="userForm">
    
    <div>
        <label>I am:</label>
        <input type="radio" formControlName="buyingType" value="first-time-buyer"><span>buying my first home</span><br>
        <input type="radio" formControlName="buyingType" value="moving-home"><span>buying my next home</span><br>
        <input type="radio" formControlName="buyingType" value="investing"><span>buying an addition property/investing</span>
    </div>

    <div>
        <label>Property Price(£):</label>
        <input formControlName="propertyPrice" type="number">
        <div *ngIf="propertyPriceCtrl.dirty && propertyPriceCtrl.hasError('required')">House price is required</div>
    </div>
    <div>
        <label>Deposit(£):</label><input type="number" formControlName="deposit" placeholder="100000">
        <div *ngIf="depositCtrl.dirty && depositCtrl.hasError('required')">Deposite is required</div>
    </div>
    <div>
        <label>Annual Interest(%): </label><input type="number" formControlName="interestRate" placeholder="4.6">
        <div *ngIf="interestRateCtrl.dirty && interestRateCtrl.hasError('required')">interest rate is required</div>
    </div>

    <div>
        <label>Repayment period (years): </label><input type="number" formControlName="repaymentYear" placeholder="25">
        <div *ngIf="repaymentYearCtrl.dirty && repaymentYearCtrl.hasError('required')">interest rate is required</div>
    </div>

    <button type="submit" [disabled]="userForm.invalid">Check</button>
</form>